.app-shopping-cart {
    .app-shopping-cart-button {
        width: 40px;
        height: 40px;
        border-radius: 3px;
    }
    .app-shopping-cart-container {
        position: absolute;
        height: 200px;
        width: 200px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        right: 0;
        padding: 10px;
        overflow: auto;
        &.app-cart-opened {
            display: block;
        }
        &.app-cart-closed {
            display: none;
        }
        .app-empty-shopping-cart {
            text-align: center;
            margin-top: 20px;
        }
        .app-cart-item{
            margin-bottom: 10px;
            .app-cart-item-title {
                font-size: 15px;
                font-weight: bold;
                color: #0091c2;
            }
            .app-cart-item-session-list {
                display: flex;
                margin-top: 5px;

                .app-cart-item-session-date {
                    flex: 1 0 auto;
                }
                .app-cart-item-trash-icon {
                    height: 18px;
                    margin: 0 10px 0 20px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .app-shopping-cart {
        .app-shopping-cart-button {
            width: 200px;
        }
    }
}