header {
    background-color: #87ceeb;
    height: 60px;
    box-shadow: 0 4px 2px -2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    span {
        color: white;
    }
    app-shopping-cart {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }
}