.app-event-detail {
    display: flex;
    flex-direction: column;
    height: 100%;

    .app-event-detail-info {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        padding: 5px 0px;
        .app-detail-title {
            color: #0091c2;
            font-weight: bold;
            padding: 5px 5px 15px;
            &:hover {
                cursor: pointer;
            }
        }
        .app-detail-subtitle {
            color: #0091c2;
            font-size: 14px;
            &:hover {
                cursor: pointer;
            }
        }
        div,
        span {
            padding: 5px;
        }
        img {
            padding: 5px 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .app-event-detail {
        .app-detail-description {
            display: none;
        }
    }
  }