/* You can add global styles to this file, and also import other style files */

html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    body {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0;

        app-root {
            flex: 1;
            display: flex;
            flex-direction: column;

            router-outlet + * {
                display: flex;
                flex: 1 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;

                button {
                    border: none;
                    height: 40px;
                    background-color: #008cba;
                    color: white;
                    outline: none;
                    &:hover {
                        cursor: pointer;
                        background-color: #87ceeb;
                        color: black;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:disabled {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}